body{
    background-color: rgb(156, 156, 182);
}
/* This is a content  */
header{
    background-color: rgb(42, 34, 61);
    color: rgb(195, 210, 222);
    padding: 1rem 2rem;
    /* top and bottom,left and right */
    /* 1rem=16px */
    margin: 1rem;
}
h1,h2,h3{
    text-decoration: underline;
}
div p{
    font-size: 0.8rem;
}
p{color: aqua;}
p{
    font-size: 1.2rem;
    color:rgb(100, 42, 42);
    margin: 1rem 0;
}
/* to target a class use the dot */


#goals{
    font-weight: 700;
    border: 2px solid black;
}
.highlight{
    background-color: rgb(88, 114, 148);
    border: 2px solid rgba(1, 33, 141, 0.371); 
}
.notes{
    border:2px solid black
}
/* li:nth-child(odd,even,number,n+1,2n+1 3n+1,last-child)  */
li:nth-child(1){
    background-color: darkgrey;
}
a{
    display: block;
    color:black;
}
a[href="https://brightspace.algonquincollege.com/"]{
    color:rgb(16, 135, 95)
}
a:link {
    color: cadetblue;
  }
 
  
  /* selects any <a> that has been visited */
  a:visited {
    color: indianred;
  }
  a:hover{
    color: blueviolet;
    outline: burlywood;
  }
  span{
    color: blue;
  }
  span{
    color:inherit
      /* forces the span to inherit the color from the parent */
  }
  span{
    color: initial
    /* forces the span to inherit the color from the parent */
  }

