body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px ;
}
header, footer{
    background-color: rgb(120, 145, 192);
} 
.site-title{
    color: rgb(46, 65, 121);
}
#my-image{
    box-shadow: 0px 0px 2px 1px black;
}
.hobbies {
    list-style-type: square;
}
.hobbies li:nth-child(odd){
    background-color: rgb(213, 213, 232);
}
nav ul{
    list-style-type: none;
}
nav a{
    text-decoration: none;
    background-color: blanchedalmond;
    border: 1px solid;
}
nav a:hover, nav a:focus{
    background-color: rgb(202, 178, 224);
}