html{
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}
*,
*:after,
*:before{
    box-sizing: border-box
}
body{
    line-height: 1.5;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both; 
    }

h1, h2, h3, h4{
    font-weight: bold;
}
h1{
    font-size: 3.2em;
}
h2{
    font-size: 2.5em; 
    padding-top : 15px;   
}

h3{
    font-size: 1.9em; 
    margin: 8px 0;  
}
h4{
    font-size: 1.2em; 
}
p{
    font-size: 0.9em;
}
.container{   
    margin: 0 auto;
    padding: 10px;
}
/* Style for navigation bar*/
.navbar{
    width: 100%;
    background-color:#222;
}
.logo{
    height: 100px;
    background-color: #c78c06;
}

.list li{
    text-align: center;
    color: #c78c06; 
}
.list li a{
    display: inline-block;
    padding: 1rem ;
    width: 100%;
    text-decoration: none;
}
.nav-item{
    width: 100%;
}
/* .navLink:hover, .navLink:focus{
    background-color: #c78c06;
    color: #222;
} */
.nav-item:hover, .nav-item:focus{
    background-color: #c78c06;
    color: #222;
}
.nav-item a{
    color: inherit;
 }
/* Use css Flexbox property */
.search{
    display: flex; 
    height: 2em;
}   
.search input{
    width: 100%;  
}
.search button{
    color: #c78c06;
    background-color: #222;
    border-color: #c78c06;
}
/* Style for banner */
.banner{
    background: url(../images/main-banner.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.banner-text{
    background-color: rgba(2, 2, 2, 0.5); /* Semi-transparent overlay */
    color: white;
    text-align: left;   
    max-width: 760px;
}
.banner-text h1{
    width: 80%;
}
/* Style for vision part */
.vision-text{
    color: white;
    text-align: left;
    padding: 10px;
}
.connect-button{
    display: inline-block;
    background-color: #c78c06;
    color: #222;
    text-decoration: none;
    padding: 20px;
    margin-top: 5px;
}
/* Style for Our vision part */
.vision-text h2{
    font-size: 1.5em;
    padding: 10px 0;
}
.banner-vision{
    background-image: url(../images/vision.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
}
.banner-vision a{
    background-color:  rgba(2, 2, 2, 0.3);
    border: solid 0.5px #c78c06;
}
.box-padding h4{
    border-bottom: solid 2px #c78c06;
}
/* About part */
.box0{
    background-color: #ffe6ac;
    padding-bottom: 15px;
}
#about-us h2{
    padding: 0;
    margin: 5px 0;
}
#about-us p{
    margin-bottom: 10px;
}
i{
    padding-left: 8px;
}
/* Style for our  services and our team part */
.box{
    background-color: #ffe6ac;
    margin: 10px 0;
}
a{
    justify-content: center;
}
.box-padding{
    padding: 10px;
}
.box img, .box0 img{
    width: 100%;   
}
.arrow-button{
    display: inline-block;
    background-color: #222;
    color: white;
    text-decoration: none;
    padding: 16px;
    margin-top: 5px;
    text-align: center;
}
.team h3{
    margin-bottom: 0;
}
/* Style for contact part */

.form label{
    display: block;
}
.form input{
    width: 100%;
}
.form textarea{
    width: 100%;
    height: 80px;
}
.form button{
    color: #c78c06;
    background-color: #222;
}
  
/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
table caption h3{
    text-align: left;
    margin-bottom: 10px;
}

thead th {
    background-color: #ffe6ac; 
    color: #222;
    padding: 10px;
    border: 1px solid #222; 
    text-align: center; 
    width: 50%;
}
  
tbody td {
    padding: 10px;
    border: 1px solid #222;
    text-align: left; 
    width: 50%;
}
iframe{
    width: 100%;
    height: 300px;
}
footer{
    background-color: #222;
    color: #c78c06;
    padding: 10px;
}
footer a{
    color: #c78c06;
}
/* Min-width query for thr screen size of 760px and more */
  @media screen and (min-width: 760px){
    html{font-size: 18px;
    }
    /* Max-width 1200px for screen */
    .container{
        max-width: 1200px;
    }
    /* Style for navigation bar for screen size of 760px and more*/
    .list{
        width: 65%;
    }
    .logo{
        display: flex;
        height: 70px;
    }
    .banner-text{
        max-width: 90%;
    }
    .banner h1{
        max-width: 60%;
    }    
    /* Use CSS Flexbox properties for navbar */
    .navbar .container{
        display: flex;
        justify-content: space-between;
        align-items: center;  
    }
    .list ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* About us part */
    .box0 img{
        float: left;
        width: 50%;
        margin-right: 5px;
    }
    .box{
        margin: 0 auto;
    }
    
    /* Use CSS Grid properties for our serivices part */
    .ourservices{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
    }
    .ourservices .box:nth-child(1) {
        grid-area: 1/1/2/4; /* Span across 3 columns */
    }
    .ourservices .box:nth-child(2) {
        grid-area: 1/4/2/7; /* Span across 3 columns */
    }
    .ourservices .box:nth-child(3) {
        grid-area: 2/1/3/3; /* Span across 2 columns */
    }
    .ourservices .box:nth-child(4) {
        grid-area: 2/3/3/5; /* Span across 2 columns */
    }
    .ourservices .box:nth-child(5) {
        grid-area: 2/5/3/7; /* Span across 2 columns */
    }
    
    .ourservices .arrow-button{
        width: 100%;
        align-items: end;
    }
    
    /* Change the layout to picture left/right and text right/left*/
    .box .john{
        float: left;
        width: 50%;
        margin-right: 5px;
    }
    .box .bob{
        float: right;
        width: 50%;
    }
    
    
    /* Use CSS Grid properties for contact us part */
    .contact-us{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 12% 53% 35%;
        gap: 10px;
    }
    .contact-us .contact-box:nth-child(1) {
        grid-area: 1/1/2/3;
    }
    .contact-us .contact-box:nth-child(2) {
        grid-area: 2/1/2/2;
    }
    .contact-us .contact-box:nth-child(3) {
        grid-area: 3/1/4/3;
    }
    .contact-us .contact-box:nth-child(4) {
        grid-area: 2/2/3/3;
    }
    iframe{
        width: 100%;
        height: 280px;
    }

}
    


